*{
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(23, 52, 85, 0.7),rgba(0, 0, 0, 0.7)),url(image/13.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;   
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 38px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #ec0c4f;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: -8px;
    line-height: 0.7;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 33px; 
    color: white;
    line-height: 0.7;

    text-align: left;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 39px;
    font-size: 38px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-left: -700;
    text-align: left;
}

.button:hover{
    border: 2px solid #e0381bdc;
    background:#3911f0dc;
    transition: 0.8s;
}

nav .fa{
    display: none;

}




.container{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    background: rgb(102, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    width: 1190px;
    height: 330px;
    background: rgb(252, 231, 203);
margin: 050px 100px;
transition: 1s;
overflow: hidden;

}
.h2{
    font-size: 400px
    ;
}




.boxhead{

position:absolute;
margin-left:450px;
margin-top: 5px;
font-size: 50px;
color: #ec0c4f;
}

.box-image{
    width:400px;
    height:400px;
}

.boxpara{

    position:absolute;
    margin-left:450px;
    margin-top: 50px;
    font-size: 32px;
    line-height: 0.9;
    }

    .button1{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 2px solid #fff;
        padding: 6px 20px;
        font-size: 38px;
        background: transparent;
        position: relative;
        cursor: pointer;
        text-align: left;
        float:right;
        margin-top: 240px;
        margin-right: 20px;
        background-color: blue;
    }
    
    .button1:hover{
        border: 2px solid #ee1111dc;
        background:#ee9f0bdc;
        transition: 0.8s;
    }
    