*{
    margin: 0;
    padding: 0;
    font-family: 'Dongle', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.header{
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(7, 22, 78, 0.7),rgba(58, 36, 41, 0.7)),url(image/5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;   
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
     list-style: none;
     display: inline-block;
     padding: 8px 12px;
     position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 38px;
}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #ec0c4f;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 33px; 
    color: white;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 39px;
    font-size: 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button:hover{
    border: 2px solid #2926d3dc;
    background:#d32699dc;
    transition: 0.8s;
}

nav .fa{
    display: none;
}
h1{
    font-size:400%;
    color:Navy;
    font-family:bold;  
} 

* {
        box-sizing: border-box;
      }
      .parent {
        position: relative;
        max-width: 1000px;
        margin:0 auto;
      }
      .parent img {
        vertical-align: middle;
      }
      .parent .text {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);s
        color: #ffffff;
        width: 100%;
        padding: 20px;
     }
     p{
        font-size:200%;
        color:Yellow;
        font-family:bold;   
    }
    h{  
        font-size:300%;
        color:black;
        font-family:Algerian;  
    }
    p1{
        font-size:140%;
        color:black;
        
    }
    